
<table>
  <thead>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
</thead>
<tbody>

  <% elements.each do |item| %>
  <tr id="<%= item.id %>" class="item_row">
    <td><%= item.question[0..20] %></td>
    <td><%= item.answer[0..20] %></td>
  </tr>
  <% end %>
</tbody>
</table>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info elements %>
    </div>
    <%= will_paginate elements, :container => false %>
  </div>
