<%= form_for ([current_user, @element]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.text_area :question, rows: 3, cols: 80 %>
</div>
<div class="field">
  <%= f.text_area :answer, rows: 3, cols: 80 %>
</div>
<div class="action">
  <%= f.submit ((params[:action] != 'edit') ? "Add item" : "Edit item"), class: "input_submit" %>
</div>
<% end %>
