<%= avatar_for @user %><%= " #{@user.username} - #{@user.fullname}" %>
<br/><br/>
<h3>Feed</h3>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Add to my words</th>
    </tr>
  </thead>
    <tbody>
    <% @feed_items.each do |item| %>
    <tr id="<%= item.id %>" class="item_row">
            <% u = User.find_by_id(item.user_id) %>
      <td><a href="<%= user_path(u) %>"><%= avatar_for(u,20)  %>&nbsp;&nbsp;<%= u.username %></a></td>
      <td><%= item.question[0..20] %></td>
      <td><%= item.answer[0..20] %></td>
      <td
        <% add_link = true %>>
        <% current_user.items.each do |x| %>
        <% if (item.parent? x) || ((x.parent != nil && item.parent != nil) && x.parent.id == item.parent.id) %>
        <% add_link = false %>
        <% end %>
        <% end %>
        <%= add_link ? (link_to "Add", share_url(id: item.id)): "Added" %>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>
<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @feed_items %>
  </div>
  <%= will_paginate @feed_items, :container => false %>
</div>

