<%= avatar_for @user %><%= " #{@user.username} - #{@user.fullname}" %>
<br/><br/>
<h3>Feed</h3>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Add to my words</th>
    </tr>
  </thead>
  <tbody>
    <% @feed_items.each do |item| %>
    <tr id="<%= item.id %>" class="item_row">
      <% u = User.find_by_id(item.user_id) %>
      <td><a href="<%= user_path(u) %>"><%= avatar_for(u,20)  %><%= u.username %></a></td>
      <td><%= item.question[0..20] %></td>
      <td><%= item.answer[0..20] %></td>
      <td>
        <% unless item.children.empty? %>
          <% item.children.each do |x|  %>
            <% unless current_user.items.include? x %>
              <%=link_to "Add", share_url(id: item.id) %>
            <% else %>
            Added
          <% end %>
        <% end %>
        <% else %>
          <%=link_to "Add", share_url(id: item.id) %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @feed_items %>
  </div>
  <%= will_paginate @feed_items, :container => false %>
</div>

