<%= form_for ([current_user, @item]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.label :question %>
  <%= f.text_area :question, rows: 3, cols: 60, class: 'answer_box' %>
</div>
<div class="field">
  <%= f.label :answer %>
  <%= f.text_area :answer, rows: 3, cols: 60, class: 'answer_box' %>
</div>
<div class="field">
  <%= f.check_box :public %>
  <%= f.label :public, class: "near_checkbox" %>
</div>
<% if params[:action] == 'edit' %>
  <%= link_to "Delete", user_item_path(current_user, @item), :confirm => 'Are you sure?', :method => :delete%>
<% end %>
<div class="action">
  <%= f.submit ((params[:action] != 'edit') ? "Add item" : "Save changes"), class: "input_submit" %>
</div>
<% end %>
