<%= form_for ([current_user, @item]), url: "/users/#{current_user.id}/items/#{@item.id}/reviewed", remote: true do |f| %>
<span class="bookmark_top"><%= link_to "Edit", url_for([:edit, current_user, @item]) %></span>
<div class="field answer_area">
  <p class=""><%= @item.question %></p>
</div>
<div class="field field_top_margin">
  <span id="show_answer" class="bookmark_top" >Show answer</span>
  <%= f.text_area :answer, value: "", rows: 1, cols: 60, class: "answer_area"%>
</div>
<div id="grades" class="action" style="visibility: hidden;">
  <%= f.submit "Ideal", class: "input_submit" %>
  <%= f.submit "Good", class: "input_submit" %>
  <%= f.submit "Pass", class: "input_submit" %>
  <%= f.submit "Bad", class: "input_submit" %>
  <%= f.submit "Null", class: "input_submit" %>
</div>
<% end %>

<script>
  var answer = "<%= @item.answer %>";
  var answer_box = $('#item_answer')
  answer_box.focus();
  var once = false;
  var old = answer_box.css('background-color');
  var show_answer = $('#show_answer');

  show_answer.click(function() {
    answer_box.val(answer);
    if(!once) {
      show_answer.css('visibility','hidden');
      $('#grades').css('visibility','visible').hide().fadeIn("slow");
    }
  });

  answer_box.keyup(function() {
    if(answer_box.val().length == answer.length && !once) {
      once = true;
      show_answer.css('visibility','hidden');
      $('#grades').css('visibility','visible').hide().fadeIn("slow");
    }
  });

  answer_box.keydown(function(event) {
    if(event.keyCode == 8) {
      answer_box.val(answer.substring(0, answer_box.val().length+1));  
    }
    else {
      key =  String.fromCharCode(event.keyCode).toLowerCase();
      char_answer = answer.substring(answer_box.val().length, answer_box.val().length+1).toLowerCase();
      if(key == char_answer) {
        answer_box.val(answer_box.val() + answer.substring(answer_box.val().length, answer_box.val().length+1));
      } 
      else {
        answer_box.css('background-color','#FFB0B0');
        setTimeout( "$('#item_answer').css('background-color', old)",100);
      }
    }
    return false;
  });
</script>
