
<table>
  <thead>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <% unless params[:user_id].nil? || current_user == params[:user_id]  %>
      <th>Add to my words</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% items.each do |item| %>
  <tr id="<%= item.id %>" class="item_row pointer">
    <td><%= item.question[0..30] %> <%= '...' if item.question.length > 30 %></td>
    <td><%= item.answer[0..30] %></td>
    <% unless params[:user_id].nil? || current_user == params[:user_id]  %>
    <td>
      <% unless item.children.empty? %>
        <% item.children.each do |x|  %>
          <% unless current_user.items.include? x %>
            <%=link_to "Add", share_url(id: item.id) %>
          <% else %>
            Added
          <% end %>
          <% end %>
        <% else %>
          <%=link_to "Add", share_url(id: item.id) %>
        <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info items %>
    </div>
    <%= will_paginate items, :container => false %>
  </div>
