<!DOCTYPE html>
<html>
  <head>
    <title>Wordscloud</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="logo">
    </div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, :id => "note" do %>
    <%= msg %> <a id="close">[close]</a>
    <% end %>
    <% end %>
    <div id="top">
      <ul>
        <li class="top_link">My page</li>
        <li><%= link_to 'Review', review_path, class: 'top_link' %></li>
        <li><%= link_to 'My words', items_path, class: 'top_link' %></li>
      </ul>
    </div>
    <div id="wrapper">
      <div id="main">
        <div id="body">
          <%= yield %>
        </div>
      </div>
      <div id="sidebar">
        <div id="side_top">
          <h2>Dashboard</h2><br>
          <span class="side_stat">
            To review: <span id="how_many_to_review"><%= how_many_to_review %></span>
            <span class="side_stat">
              Items: <span id="how_many_items"><%= how_many_items %></span>
            </div>
          </div>
          <div id="side_bottom">
            <h3>Recent activity</h3>
          </div>
        </div>
      </div>
      <div class="clear">

      </div>
      <%= render 'layouts/footer' %>
    </body>
  </html>
