<!DOCTYPE html>
<html>
  <head>
    <title>Wordscloud</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
  </head>
  <body id="pages">
    <div id="content">
      <% flash.each do |name, msg| %>
      <% nm = "note_#{name}" %>
      <%= content_tag :div, :id => "note", class: nm do %>
      <%= msg %> <a id="close">[close]</a>
      <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

